/* body
{
    background-color: crimson;
    background-image:linear-gradient(rgba(235, 17, 90, 0.5),rgba(235, 17, 90, 0.5)), url("https://images.pexels.com/photos/4101555/pexels-photo-4101555.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
} */

/* body
{
    background-color: royalblue;
}
div
{
    background-color: crimson;
    height: 500px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    color: white;
    background-attachment: fixed;
} */

p
{
    background-color: crimson;
    width: 400px;
    height: 300px;
    overflow: auto;
}